# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# IDE files
.idea/
.vscode/

# Local Storage
local_storage/

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/

# Add .windsurfrules to gitignore
.windsurfrules
.cursor/
.roo/
.roomodes
.taskmasterconfig

# Keep scripts directory
!scripts/ 